@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');

.App{
  font-family: 'Fjalla One', sans-serif;
  color: #E35F89;
  width: 768px;
  margin: 0 auto;
}

.nav{
  max-width: 768px;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}

.nav-text{
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
}

.links{
  display: flex;
  justify-content: space-between;
  width: 300px;
}

.links a{
  text-decoration: none;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  font-size: 1.2rem;
} 

h1{
  color: black;
}

h2{
  color: red;
  line-height: 0.1rem;
  margin-left: 1rem;
}

p{
  color: green;
  margin-left: 2rem;
}

.display-items a{
  text-decoration: none;
}

.user-input{
  width: 300px;
  margin: 0 auto;
}
.user-input h2{
  text-align: center;
  margin-bottom: 2rem;
}

.user-input input{
  width: 100%;
  margin-bottom: 1rem;
}

.user-input textarea{
  width: 100%;
  margin-bottom: 1rem;
}
